.profile-picture {
  max-width: 200px;
  margin-top: 20px;
}

.about-me,
.skill-graph,
.projects {
  max-width: 80ch;
}

.timeline {
  border-left: 2px solid gray;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 25%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.devicon-icon {
  font-size: 24px;
}

#skill-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-card {
  background: white;
  border: 0.5px solid rgba(128, 128, 128, 0.257);
  height: 150px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.skill-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.skill-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 97, 12, 0.95);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}

.skill-card:hover .skill-overlay {
  opacity: 1;
  transform: translateY(0);
}

.skill-overlay p {
  font-size: 0.9rem;
  margin: 0;
}

.skill-icon {
    height: 3rem;
    width: auto;
}
